.about-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
  gap: 24px;
  padding: 24px;
  box-sizing: border-box;
  background-image: url('../../../../public/background1.png');
  background-size: cover;
  background-position: center;
  background-position: center top -80px;

  .profile-card {
    width: 400px;
    margin: 0;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.9);
    
    mat-card-title, mat-card-subtitle {
      color: rgb(255, 255, 255);
    }

    .profile-description {
      flex: 1;
      background-image: url('../../../../public/anton.jpg');
      background-size: cover;
      background-position: center;
    }
  }

  .profile-header-image {
    background-image: url("../../../../public/utn.png");
    background-size: cover;
    background-position: center;
  }

  .casino-card {
    flex: 1;
    margin: 0;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    mat-card-header {
      padding: 0;
      height: 140px;
      background-image: url('../../../../public/casino1.png');
      background-size: cover;
      background-position: center;
    }

    mat-card-content {
      padding: 1.5rem;
      background-color: rgba(122, 91, 46, 0.9);
      color: white;
      flex: 1;
      overflow-y: auto;
    }
  }
}