<div class="card-container">
    <mat-card class="about-card" appearance="outlined">
        <mat-card-header>
          <div mat-card-avatar class="about-header-image"></div>
          <mat-card-title>Antón Turavínin</mat-card-title>
          <mat-card-subtitle>Laboratorio de Programación IV</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="anton.jpg" alt="Foto de Anton Turavinin">
        <mat-card-content>
          <p>
            Adivinanzas: 
            El objetivo del juego es adivinar la palabra oculta a partir de pistas dadas por el programa. 
            El jugador tiene un número limitado de intentos para adivinar la palabra correcta. 
            El juego incluye una interfaz gráfica y un sistema de puntuación basado en el número de intentos utilizados.
          </p>
        </mat-card-content>
      </mat-card>
</div>
