<mat-toolbar class="navbar">
    <div class="logo-container" (click)="goToHome()">
        <img src="/sala-de-juegos-transparente.png" alt="Sala de Juegos" />
      </div>
  
    <span class="spacer"></span>
  
    <div class="icon-container">
      <mat-icon #icon4="matIcon" (click)="animateIcon(icon4)" (click)="goToSurvey()" class="material-symbols-outlined">content_paste</mat-icon>
      <mat-icon #icon1="matIcon" (click)="animateIcon(icon1)" (click)="goToHome()" class="material-symbols-outlined">home</mat-icon>
      <mat-icon #icon2="matIcon" (click)="animateIcon(icon2)" (click)="goToAbout()"  class="material-symbols-outlined"> person </mat-icon>
      <mat-icon #icon3="matIcon" (click)="animateIcon(icon3)" (click)="logout()">logout</mat-icon>
    </div>
</mat-toolbar>
<router-outlet></router-outlet>