<div class="home-container">
    <!-- <mat-card class="game-card"><img src="/ahorcado_banner.png"></mat-card>
    <mat-card class="game-card"><img src="/ahorcado_banner.png"></mat-card>
    <mat-card class="game-card"><img src="/ahorcado_banner.png"></mat-card>
    <mat-card class="game-card"><img src="/ahorcado_banner.png"></mat-card> -->

    <mat-card class="ahorcado-card"></mat-card>
    <mat-card class="mayor-card"></mat-card>
    <mat-card class="preguntados-card"></mat-card>
    <mat-card class="casino-card"></mat-card>
</div>